### Basic things to ignore ###

*.ipynb_checkpoints/*
*~

### Original GGchem files ###
GGchem
GGchem/.git
GGchem/.git/refs
GGchem/.git/refs/heads
GGchem/.git/refs/heads/master
GGchem/.git/refs/tags
GGchem/.git/refs/remotes
GGchem/.git/refs/remotes/origin
GGchem/.git/refs/remotes/origin/HEAD
GGchem/.git/branches
GGchem/.git/description
GGchem/.git/hooks
GGchem/.git/hooks/applypatch-msg.sample
GGchem/.git/hooks/commit-msg.sample
GGchem/.git/hooks/post-update.sample
GGchem/.git/hooks/pre-applypatch.sample
GGchem/.git/hooks/pre-commit.sample
GGchem/.git/hooks/pre-push.sample
GGchem/.git/hooks/pre-rebase.sample
GGchem/.git/hooks/prepare-commit-msg.sample
GGchem/.git/hooks/update.sample
GGchem/.git/info
GGchem/.git/info/exclude
GGchem/.git/objects
GGchem/.git/objects/pack
GGchem/.git/objects/pack/pack-3339780cd70be53bd611d6f5e481658133797fc8.pack
GGchem/.git/objects/pack/pack-3339780cd70be53bd611d6f5e481658133797fc8.idx
GGchem/.git/objects/info
GGchem/.git/HEAD
GGchem/.git/config
GGchem/.git/logs
GGchem/.git/logs/refs
GGchem/.git/logs/refs/remotes
GGchem/.git/logs/refs/remotes/origin
GGchem/.git/logs/refs/remotes/origin/HEAD
GGchem/.git/logs/refs/heads
GGchem/.git/logs/refs/heads/master
GGchem/.git/logs/HEAD
GGchem/.git/packed-refs
GGchem/.git/index
GGchem/.gitignore
GGchem/GGCHEM_talk.pdf
GGchem/GGchemPaper.pdf
GGchem/LICENSE
GGchem/README.md
GGchem/abund_SharpHuebner.dat
GGchem/abund_simple.in
GGchem/data
GGchem/data/Abundances.dat
GGchem/data/AllCondensates.pdf
GGchem/data/BURCAT
GGchem/data/BURCAT/BURCAT.THR
GGchem/data/BURCAT/Burcat_atoms.dat
GGchem/data/BURCAT/DustChem_BURCAT.dat
GGchem/data/BURCAT/ELEMENTS.DAT
GGchem/data/BURCAT/Introduction.pdf
GGchem/data/BURCAT/NEWNASA.TXT
GGchem/data/BURCAT/THERM.DAT
GGchem/data/BURCAT/dispol_BURCAT.dat
GGchem/data/BURCAT/extract_BURCAT.f
GGchem/data/Burcat_ref-elements.dat
GGchem/data/DustChem.dat
GGchem/data/DustChem_BURCAT.dat
GGchem/data/DustChem_GGchem.dat
GGchem/data/DustChem_Lee.dat
GGchem/data/DustChem_SH90.dat
GGchem/data/DustChem_SUPCRTBL.dat
GGchem/data/EarthCrust.dat
GGchem/data/JANAF
GGchem/data/JANAF/Al+.txt
GGchem/data/JANAF/Al.txt
GGchem/data/JANAF/Al2Cl6.txt
GGchem/data/JANAF/Al2O+.txt
GGchem/data/JANAF/Al2O.txt
GGchem/data/JANAF/Al2O2+.txt
GGchem/data/JANAF/Al2O2.txt
GGchem/data/JANAF/Al2O3_cr.txt
GGchem/data/JANAF/Al2O3_l.txt
GGchem/data/JANAF/AlCl.txt
GGchem/data/JANAF/AlCl2.txt
GGchem/data/JANAF/AlCl3.txt
GGchem/data/JANAF/AlCl3_cr.txt
GGchem/data/JANAF/AlCl3_l.txt
GGchem/data/JANAF/AlF3_cr.txt
GGchem/data/JANAF/AlF6Na3_cr.txt
GGchem/data/JANAF/AlH.txt
GGchem/data/JANAF/AlO+.txt
GGchem/data/JANAF/AlO-.txt
GGchem/data/JANAF/AlO.txt
GGchem/data/JANAF/AlO2-.txt
GGchem/data/JANAF/AlO2.txt
GGchem/data/JANAF/AlO2H.txt
GGchem/data/JANAF/AlOCl.txt
GGchem/data/JANAF/AlOH+.txt
GGchem/data/JANAF/AlOH-.txt
GGchem/data/JANAF/AlOH.txt
GGchem/data/JANAF/AlS.txt
GGchem/data/JANAF/Al_cr,l.txt
GGchem/data/JANAF/Al_cr.txt
GGchem/data/JANAF/Alatom.txt
GGchem/data/JANAF/AllCond.txt
GGchem/data/JANAF/AllJanaf.txt
GGchem/data/JANAF/Alref.txt
GGchem/data/JANAF/C.txt
GGchem/data/JANAF/C2H2.txt
GGchem/data/JANAF/C2H4.txt
GGchem/data/JANAF/C2H4O.txt
GGchem/data/JANAF/C4N2.txt
GGchem/data/JANAF/C5.txt
GGchem/data/JANAF/CH2.txt
GGchem/data/JANAF/CH3.txt
GGchem/data/JANAF/CH4.txt
GGchem/data/JANAF/CKN.txt
GGchem/data/JANAF/CKN_l.txt
GGchem/data/JANAF/CN-.txt
GGchem/data/JANAF/CN.txt
GGchem/data/JANAF/CO.txt
GGchem/data/JANAF/CO2-.txt
GGchem/data/JANAF/CO2.txt
GGchem/data/JANAF/COS.txt
GGchem/data/JANAF/CS.txt
GGchem/data/JANAF/C_cr.txt
GGchem/data/JANAF/Ca+.txt
GGchem/data/JANAF/Ca.txt
GGchem/data/JANAF/CaCl.txt
GGchem/data/JANAF/CaCl2.txt
GGchem/data/JANAF/CaCl2_cr.txt
GGchem/data/JANAF/CaCl2_l.txt
GGchem/data/JANAF/CaF2.txt
GGchem/data/JANAF/CaF2_cr.txt
GGchem/data/JANAF/CaO.txt
GGchem/data/JANAF/CaO2H2.txt
GGchem/data/JANAF/CaO_cr.txt
GGchem/data/JANAF/CaO_l.txt
GGchem/data/JANAF/CaS.txt
GGchem/data/JANAF/CaS_cr.txt
GGchem/data/JANAF/Ca_cr,l.txt
GGchem/data/JANAF/Caatom.txt
GGchem/data/JANAF/Caref.txt
GGchem/data/JANAF/Catom.txt
GGchem/data/JANAF/Cl+.txt
GGchem/data/JANAF/Cl-.txt
GGchem/data/JANAF/Cl.txt
GGchem/data/JANAF/Cl2.txt
GGchem/data/JANAF/Cl2ref.txt
GGchem/data/JANAF/Clatom.txt
GGchem/data/JANAF/Co.txt
GGchem/data/JANAF/CoO_cr.txt
GGchem/data/JANAF/Co_cr.txt
GGchem/data/JANAF/Co_l.txt
GGchem/data/JANAF/Cr.txt
GGchem/data/JANAF/CrN.txt
GGchem/data/JANAF/CrN_cr.txt
GGchem/data/JANAF/Cr_cr.txt
GGchem/data/JANAF/Cr_l.txt
GGchem/data/JANAF/Cratom.txt
GGchem/data/JANAF/Cref.txt
GGchem/data/JANAF/Crref.txt
GGchem/data/JANAF/Cu.txt
GGchem/data/JANAF/Cuatom.txt
GGchem/data/JANAF/Curef.txt
GGchem/data/JANAF/F.txt
GGchem/data/JANAF/F2.txt
GGchem/data/JANAF/Fatom.txt
GGchem/data/JANAF/Fe(CO)5.txt
GGchem/data/JANAF/Fe(CO)5_l.txt
GGchem/data/JANAF/Fe.txt
GGchem/data/JANAF/FeCl.txt
GGchem/data/JANAF/FeCl2.txt
GGchem/data/JANAF/FeCl2_cr.txt
GGchem/data/JANAF/FeCl2_l.txt
GGchem/data/JANAF/FeCl3.txt
GGchem/data/JANAF/FeCl3_cr.txt
GGchem/data/JANAF/FeF2.txt
GGchem/data/JANAF/FeF2_cr.txt
GGchem/data/JANAF/FeO.txt
GGchem/data/JANAF/FeO2H2.txt
GGchem/data/JANAF/FeO_cr.txt
GGchem/data/JANAF/FeO_l.txt
GGchem/data/JANAF/FeS.txt
GGchem/data/JANAF/FeS2_cr.txt
GGchem/data/JANAF/FeS_cr.txt
GGchem/data/JANAF/FeS_l.txt
GGchem/data/JANAF/Fe_cr.txt
GGchem/data/JANAF/Fe_l.txt
GGchem/data/JANAF/Featom.txt
GGchem/data/JANAF/Feref.txt
GGchem/data/JANAF/H+.txt
GGchem/data/JANAF/H-.txt
GGchem/data/JANAF/H.txt
GGchem/data/JANAF/H2+.txt
GGchem/data/JANAF/H2-.txt
GGchem/data/JANAF/H2.txt
GGchem/data/JANAF/H2O.txt
GGchem/data/JANAF/H2O_l.txt
GGchem/data/JANAF/H2S.txt
GGchem/data/JANAF/H2SO4.txt
GGchem/data/JANAF/H2SO4_l.txt
GGchem/data/JANAF/H2WO4.txt
GGchem/data/JANAF/H3O+.txt
GGchem/data/JANAF/H3PO4_cr.txt
GGchem/data/JANAF/H3PO4_l.txt
GGchem/data/JANAF/HAlO.txt
GGchem/data/JANAF/HCN.txt
GGchem/data/JANAF/HCO+.txt
GGchem/data/JANAF/HCO.txt
GGchem/data/JANAF/HCl.txt
GGchem/data/JANAF/HF2K_cr.txt
GGchem/data/JANAF/HS.txt
GGchem/data/JANAF/HSO3F.txt
GGchem/data/JANAF/HScorr.txt
GGchem/data/JANAF/Hatom.txt
GGchem/data/JANAF/He+.txt
GGchem/data/JANAF/He.txt
GGchem/data/JANAF/Janaffit.f
GGchem/data/JANAF/K+.txt
GGchem/data/JANAF/K.txt
GGchem/data/JANAF/K2Cl2.txt
GGchem/data/JANAF/K2O2H2.txt
GGchem/data/JANAF/K2SO4.txt
GGchem/data/JANAF/K2SO4_l.txt
GGchem/data/JANAF/K2SiO3_cr.txt
GGchem/data/JANAF/K2SiO3_l.txt
GGchem/data/JANAF/KCl.txt
GGchem/data/JANAF/KCl_cr.txt
GGchem/data/JANAF/KCl_l.txt
GGchem/data/JANAF/KF.txt
GGchem/data/JANAF/KF_cr.txt
GGchem/data/JANAF/KHF2_cr.txt
GGchem/data/JANAF/KO.txt
GGchem/data/JANAF/KOH.txt
GGchem/data/JANAF/KOH_l.txt
GGchem/data/JANAF/Katom.txt
GGchem/data/JANAF/Kref.txt
GGchem/data/JANAF/Li+.txt
GGchem/data/JANAF/Li.txt
GGchem/data/JANAF/Li2Cl2.txt
GGchem/data/JANAF/Li2O2H2.txt
GGchem/data/JANAF/Li2Si2O5_cr.txt
GGchem/data/JANAF/Li2Si2O5_l.txt
GGchem/data/JANAF/Li2SiO3_cr.txt
GGchem/data/JANAF/Li2SiO3_l.txt
GGchem/data/JANAF/Li2TiO3_cr.txt
GGchem/data/JANAF/Li2TiO3_l.txt
GGchem/data/JANAF/Li3Cl3.txt
GGchem/data/JANAF/LiCl.txt
GGchem/data/JANAF/LiCl_cr.txt
GGchem/data/JANAF/LiCl_l.txt
GGchem/data/JANAF/LiH.txt
GGchem/data/JANAF/LiH_cr.txt
GGchem/data/JANAF/LiH_l.txt
GGchem/data/JANAF/LiN.txt
GGchem/data/JANAF/LiO.txt
GGchem/data/JANAF/LiOH.txt
GGchem/data/JANAF/LiOH_cr.txt
GGchem/data/JANAF/LiOH_l.txt
GGchem/data/JANAF/Liatom.txt
GGchem/data/JANAF/Liref.txt
GGchem/data/JANAF/Mg+.txt
GGchem/data/JANAF/Mg.txt
GGchem/data/JANAF/Mg2Cl4.txt
GGchem/data/JANAF/Mg2SiO4_cr.txt
GGchem/data/JANAF/Mg2SiO4_l.txt
GGchem/data/JANAF/Mg2TiO4_cr.txt
GGchem/data/JANAF/Mg3P2O8_cr.txt
GGchem/data/JANAF/MgAl2O4_cr.txt
GGchem/data/JANAF/MgAl2O4_l.txt
GGchem/data/JANAF/MgCl.txt
GGchem/data/JANAF/MgCl2.txt
GGchem/data/JANAF/MgCl2_l.txt
GGchem/data/JANAF/MgClF.txt
GGchem/data/JANAF/MgF2.txt
GGchem/data/JANAF/MgF2_cr.txt
GGchem/data/JANAF/MgO.txt
GGchem/data/JANAF/MgO2H2.txt
GGchem/data/JANAF/MgOH+.txt
GGchem/data/JANAF/MgOH.txt
GGchem/data/JANAF/MgO_cr.txt
GGchem/data/JANAF/MgO_l.txt
GGchem/data/JANAF/MgS.txt
GGchem/data/JANAF/MgS_cr.txt
GGchem/data/JANAF/MgSiO3_cr.txt
GGchem/data/JANAF/MgSiO3_l.txt
GGchem/data/JANAF/MgTi2O5_cr.txt
GGchem/data/JANAF/MgTi2O5_l.txt
GGchem/data/JANAF/MgTiO3_cr.txt
GGchem/data/JANAF/MgTiO3_l.txt
GGchem/data/JANAF/Mgatom.txt
GGchem/data/JANAF/Mgref.txt
GGchem/data/JANAF/Mn.txt
GGchem/data/JANAF/Mn_cr.txt
GGchem/data/JANAF/Mn_l.txt
GGchem/data/JANAF/Mnatom.txt
GGchem/data/JANAF/Mnref.txt
GGchem/data/JANAF/N+.txt
GGchem/data/JANAF/N.txt
GGchem/data/JANAF/N2.txt
GGchem/data/JANAF/N2H4.txt
GGchem/data/JANAF/N2H4_l.txt
GGchem/data/JANAF/N2O4.txt
GGchem/data/JANAF/NH.txt
GGchem/data/JANAF/NH2.txt
GGchem/data/JANAF/NH3.txt
GGchem/data/JANAF/NH4Cl_cr.txt
GGchem/data/JANAF/NO+.txt
GGchem/data/JANAF/NO.txt
GGchem/data/JANAF/Na+.txt
GGchem/data/JANAF/Na.txt
GGchem/data/JANAF/Na2.txt
GGchem/data/JANAF/Na2Cl2.txt
GGchem/data/JANAF/Na2O2H2.txt
GGchem/data/JANAF/Na2SO4.txt
GGchem/data/JANAF/Na2SO4_l.txt
GGchem/data/JANAF/Na2S_cr.txt
GGchem/data/JANAF/Na2S_l.txt
GGchem/data/JANAF/Na2SiO3_cr.txt
GGchem/data/JANAF/Na2SiO3_l.txt
GGchem/data/JANAF/NaCN.txt
GGchem/data/JANAF/NaCN_l.txt
GGchem/data/JANAF/NaCl.txt
GGchem/data/JANAF/NaCl_cr.txt
GGchem/data/JANAF/NaCl_l.txt
GGchem/data/JANAF/NaF.txt
GGchem/data/JANAF/NaF_cr.txt
GGchem/data/JANAF/NaO-.txt
GGchem/data/JANAF/NaOH.txt
GGchem/data/JANAF/NaOH_cr.txt
GGchem/data/JANAF/NaOH_l.txt
GGchem/data/JANAF/Na_cr.txt
GGchem/data/JANAF/Na_l.txt
GGchem/data/JANAF/Naatom.txt
GGchem/data/JANAF/Naref.txt
GGchem/data/JANAF/Natom.txt
GGchem/data/JANAF/Ni.txt
GGchem/data/JANAF/Ni3S2_cr.txt
GGchem/data/JANAF/Ni3S2_l.txt
GGchem/data/JANAF/Ni_cr.txt
GGchem/data/JANAF/Ni_l.txt
GGchem/data/JANAF/Niatom.txt
GGchem/data/JANAF/Niref.txt
GGchem/data/JANAF/O.txt
GGchem/data/JANAF/O2.txt
GGchem/data/JANAF/O2ref.txt
GGchem/data/JANAF/OH-.txt
GGchem/data/JANAF/Oatom.txt
GGchem/data/JANAF/P.txt
GGchem/data/JANAF/P3N5_cr.txt
GGchem/data/JANAF/P4O10.txt
GGchem/data/JANAF/P4O10_cr.txt
GGchem/data/JANAF/P4O6.txt
GGchem/data/JANAF/P4S3_cr.txt
GGchem/data/JANAF/P4S3_l.txt
GGchem/data/JANAF/PH.txt
GGchem/data/JANAF/PH2.txt
GGchem/data/JANAF/PH2corr.txt
GGchem/data/JANAF/PH3.txt
GGchem/data/JANAF/PN.txt
GGchem/data/JANAF/P_cr.txt
GGchem/data/JANAF/P_l.txt
GGchem/data/JANAF/Patom.txt
GGchem/data/JANAF/Pref.txt
GGchem/data/JANAF/S.txt
GGchem/data/JANAF/S2.txt
GGchem/data/JANAF/S2O.txt
GGchem/data/JANAF/S2Ocorr.txt
GGchem/data/JANAF/S7.txt
GGchem/data/JANAF/S8.txt
GGchem/data/JANAF/SN.txt
GGchem/data/JANAF/SO2.txt
GGchem/data/JANAF/SO3.txt
GGchem/data/JANAF/S_cr.txt
GGchem/data/JANAF/S_l.txt
GGchem/data/JANAF/Satom.txt
GGchem/data/JANAF/Si(CH3)4.txt
GGchem/data/JANAF/Si.txt
GGchem/data/JANAF/SiC2.txt
GGchem/data/JANAF/SiCH3Cl3.txt
GGchem/data/JANAF/SiC_cr.txt
GGchem/data/JANAF/SiCl.txt
GGchem/data/JANAF/SiCl2.txt
GGchem/data/JANAF/SiCl3.txt
GGchem/data/JANAF/SiCl4.txt
GGchem/data/JANAF/SiF4.txt
GGchem/data/JANAF/SiH.txt
GGchem/data/JANAF/SiH3Cl.txt
GGchem/data/JANAF/SiH4.txt
GGchem/data/JANAF/SiN.txt
GGchem/data/JANAF/SiO.txt
GGchem/data/JANAF/SiO2.txt
GGchem/data/JANAF/SiO2_cr.txt
GGchem/data/JANAF/SiO2_l.txt
GGchem/data/JANAF/SiS.txt
GGchem/data/JANAF/SiS2_cr.txt
GGchem/data/JANAF/SiS2_l.txt
GGchem/data/JANAF/Si_cr,l.txt
GGchem/data/JANAF/Si_cr.txt
GGchem/data/JANAF/Siatom.txt
GGchem/data/JANAF/Siref.txt
GGchem/data/JANAF/Sref.txt
GGchem/data/JANAF/Ti.txt
GGchem/data/JANAF/Ti3O5_cr.txt
GGchem/data/JANAF/Ti4O7_cr.txt
GGchem/data/JANAF/Ti4O7_l.txt
GGchem/data/JANAF/TiC_cr.txt
GGchem/data/JANAF/TiC_l.txt
GGchem/data/JANAF/TiCl.txt
GGchem/data/JANAF/TiCl2.txt
GGchem/data/JANAF/TiCl2_cr.txt
GGchem/data/JANAF/TiCl3.txt
GGchem/data/JANAF/TiCl3_cr.txt
GGchem/data/JANAF/TiCl4.txt
GGchem/data/JANAF/TiCl4_cr.txt
GGchem/data/JANAF/TiCl4_l.txt
GGchem/data/JANAF/TiF3.txt
GGchem/data/JANAF/TiF3_cr.txt
GGchem/data/JANAF/TiF4.txt
GGchem/data/JANAF/TiF4_cr.txt
GGchem/data/JANAF/TiH2_cr.txt
GGchem/data/JANAF/TiN_cr.txt
GGchem/data/JANAF/TiN_l.txt
GGchem/data/JANAF/TiO.txt
GGchem/data/JANAF/TiO2.txt
GGchem/data/JANAF/TiO2_cr.txt
GGchem/data/JANAF/TiO2_l.txt
GGchem/data/JANAF/TiOCl.txt
GGchem/data/JANAF/TiOCl2.txt
GGchem/data/JANAF/TiO_cr.txt
GGchem/data/JANAF/TiO_l.txt
GGchem/data/JANAF/Ti_cr.txt
GGchem/data/JANAF/Ti_l.txt
GGchem/data/JANAF/Tiatom.txt
GGchem/data/JANAF/Tiref.txt
GGchem/data/JANAF/V.txt
GGchem/data/JANAF/V2O3_cr.txt
GGchem/data/JANAF/V2O4_cr.txt
GGchem/data/JANAF/V2O5_cr.txt
GGchem/data/JANAF/VO.txt
GGchem/data/JANAF/VO2.txt
GGchem/data/JANAF/VO_cr.txt
GGchem/data/JANAF/VO_l.txt
GGchem/data/JANAF/W.txt
GGchem/data/JANAF/W2O6.txt
GGchem/data/JANAF/W3O8.txt
GGchem/data/JANAF/W3O9.txt
GGchem/data/JANAF/W4O12.txt
GGchem/data/JANAF/WCl.txt
GGchem/data/JANAF/WCl2.txt
GGchem/data/JANAF/WF.txt
GGchem/data/JANAF/WO.txt
GGchem/data/JANAF/WO2.txt
GGchem/data/JANAF/WO2Cl2.txt
GGchem/data/JANAF/WO3.txt
GGchem/data/JANAF/WO3_cr.txt
GGchem/data/JANAF/WO3_l.txt
GGchem/data/JANAF/W_cr.txt
GGchem/data/JANAF/W_l.txt
GGchem/data/JANAF/Zn.txt
GGchem/data/JANAF/ZnSO4_cr.txt
GGchem/data/JANAF/Zn_cr.txt
GGchem/data/JANAF/Zn_l.txt
GGchem/data/JANAF/Zr.txt
GGchem/data/JANAF/ZrO2.txt
GGchem/data/JANAF/ZrO2_cr.txt
GGchem/data/JANAF/ZrO2_l.txt
GGchem/data/JANAF/ZrSiO4_cr.txt
GGchem/data/JANAF/Zr_cr.txt
GGchem/data/JANAF/Zr_l.txt
GGchem/data/JANAF/Zratom.txt
GGchem/data/JANAF/Zrref.txt
GGchem/data/JANAF/dGatom.pro
GGchem/data/JANAF/el-.txt
GGchem/data/JANAF/fit.gnu
GGchem/data/JANAF/fit_comp.py
GGchem/data/JANAF/fit_set.dat
GGchem/data/JANAF/fitplot.py
GGchem/data/JANAF/test.txt
GGchem/data/JANAF/testdata.pro
GGchem/data/SUPCRT92
GGchem/data/SUPCRT92/DustChem_SUPCRTBL.dat
GGchem/data/SUPCRT92/DustChem_SUPCRTBL.tex
GGchem/data/SUPCRT92/NISTatom.dat
GGchem/data/SUPCRT92/SharpHuebner.dat
GGchem/data/SUPCRT92/StandardStates.pdf
GGchem/data/SUPCRT92/dG.pdf
GGchem/data/SUPCRT92/extractSU.py
GGchem/data/SUPCRT92/make_SH90.py
GGchem/data/SUPCRT92/slop16.dat
GGchem/data/SUPCRT92/spronsbl.dat
GGchem/data/abundances.pro
GGchem/data/dispol_BURCAT.dat
GGchem/data/dispol_BURCATselected.dat
GGchem/data/dispol_BarklemCollet.dat
GGchem/data/dispol_GGchem.dat
GGchem/data/dispol_SharpHuebner.dat
GGchem/data/dispol_StockKitzmann.dat
GGchem/data/dispol_StockKitzmann_withoutTsuji.dat
GGchem/data/dispol_Tsuji.dat
GGchem/data/dispol_WoitkeRefit.dat
GGchem/data/dispol_fast.dat
GGchem/demo_eqchem.pdf
GGchem/demo_eqcond.pdf
GGchem/ggchem
GGchem/input
GGchem/input/AutoStruc.in
GGchem/input/AutoStrucVenus.in
GGchem/input/OliverProblem.in
GGchem/input/TestCases
GGchem/input/TestCases/RESULTS_2020_07_27.txt
GGchem/input/TestCases/model_AutoStruc.in
GGchem/input/TestCases/model_Jupiter.in
GGchem/input/TestCases/model_Schaefer_CC.in
GGchem/input/TestCases/model_benchmark1.in
GGchem/input/TestCases/model_eqcond_BSE.in
GGchem/input/TestCases/model_eqcond_BSE_15water.in
GGchem/input/TestCases/model_eqcond_MORB.in
GGchem/input/TestCases/model_simple2D.in
GGchem/input/TestCases/model_standard_eqcond.in
GGchem/input/TestCases/test.bsh
GGchem/input/crash.in
GGchem/input/default.in
GGchem/input/default_Burcat.in
GGchem/input/model_0D.in
GGchem/input/model_2D.in
GGchem/input/model_Crich.in
GGchem/input/model_Jupiter.in
GGchem/input/model_ProDiMo.in
GGchem/input/model_benchmark1.in
GGchem/input/model_benchmark2.in
GGchem/input/model_fast.in
GGchem/input/model_pureH2O.in
GGchem/input/model_remove_eqcond.in
GGchem/input/model_standard.in
GGchem/input/model_standard_eqcond.in
GGchem/input/testSharpHuebner.in
GGchem/mfrac_BSE_15water.dat
GGchem/mfrac_BSE_8water.dat
GGchem/mfrac_CIcond.dat
GGchem/mfrac_MORB.dat
GGchem/mfrac_melis_BSE.dat
GGchem/mfrac_melis_CI.dat
GGchem/mfrac_schaefer_BSE.dat
GGchem/mfrac_schaefer_CC.dat
GGchem/results
GGchem/results/Jupiter_test.pdf
GGchem/results/PhaseDia_eqcond.pdf
GGchem/results/PhaseDia_eqcond_Crich.pdf
GGchem/results/PhaseDia_nocond.pdf
GGchem/results/PhaseDia_pureGas.pdf
GGchem/results/TEAoutBench1
GGchem/results/TEAoutBench1/inputs
GGchem/results/TEAoutBench1/inputs/abundances.txt
GGchem/results/TEAoutBench1/results
GGchem/results/TEAoutBench1/results/TEAoutBench1.tea
GGchem/results/TEAoutBench2
GGchem/results/TEAoutBench2/inputs
GGchem/results/TEAoutBench2/inputs/abundances.txt
GGchem/results/TEAoutBench2/results
GGchem/results/TEAoutBench2/results/TEAoutBench2.tea
GGchem/results/TEAoutCrich
GGchem/results/TEAoutCrich/inputs
GGchem/results/TEAoutCrich/inputs/abundances.txt
GGchem/results/TEAoutCrich/results
GGchem/results/TEAoutCrich/results/TEAoutCrich.tea
GGchem/results/TEAoutEarthCrust
GGchem/results/TEAoutEarthCrust/inputs
GGchem/results/TEAoutEarthCrust/inputs/abundances.txt
GGchem/results/TEAoutEarthCrust/results
GGchem/results/TEAoutEarthCrust/results/TEAoutEarthCrust.tea
GGchem/results/TEAoutMeteorites
GGchem/results/TEAoutMeteorites/inputs
GGchem/results/TEAoutMeteorites/inputs/abundances.txt
GGchem/results/TEAoutMeteorites/results
GGchem/results/TEAoutMeteorites/results/TEAoutMeteorites.tea
GGchem/results/TEAoutOcean
GGchem/results/TEAoutOcean/inputs
GGchem/results/TEAoutOcean/inputs/abundances.txt
GGchem/results/TEAoutOcean/results
GGchem/results/TEAoutOcean/results/TEAoutOcean.tea
GGchem/results/TEAoutOrich
GGchem/results/TEAoutOrich/inputs
GGchem/results/TEAoutOrich/inputs/abundances.txt
GGchem/results/TEAoutOrich/results
GGchem/results/TEAoutOrich/results/TEAoutOrich.tea
GGchem/src16
GGchem/src16/adapt_condensates.f
GGchem/src16/auto_structure.f
GGchem/src16/database.f
GGchem/src16/datamod.f
GGchem/src16/demo_phasediagram.f
GGchem/src16/demo_structure.f
GGchem/src16/demo_sweep.f
GGchem/src16/equil_cond.f
GGchem/src16/gauss16.f
GGchem/src16/gauss8.f
GGchem/src16/gauss_nm.f
GGchem/src16/ggchem.f
GGchem/src16/init.f
GGchem/src16/init_chemistry.f
GGchem/src16/init_dustchem.f
GGchem/src16/is_nan.F
GGchem/src16/linpack_q.f90
GGchem/src16/main.f
GGchem/src16/makefile.prodimo
GGchem/src16/massfrac.f
GGchem/src16/nasa_polynomial.f
GGchem/src16/nucleation.f
GGchem/src16/read_parameter.f
GGchem/src16/slatec_routines.f
GGchem/src16/smchem16.f
GGchem/src16/smchem8.f
GGchem/src16/stindex.f
GGchem/src16/supersat.f
GGchem/src16/supersat_old.f
GGchem/src16/upper.f
GGchem/src16/makefile
GGchem/src16/datamod.o
GGchem/src16/parameters.mod
GGchem/src16/dust_data.mod
GGchem/src16/chemistry.mod
GGchem/src16/structure.mod
GGchem/src16/exchange.mod
GGchem/src16/database.o
GGchem/src16/database.mod
GGchem/src16/read_parameter.o
GGchem/src16/demo_sweep.o
GGchem/src16/demo_structure.o
GGchem/src16/demo_phasediagram.o
GGchem/src16/adapt_condensates.o
GGchem/src16/equil_cond.o
GGchem/src16/conversion.mod
GGchem/src16/is_nan.o
GGchem/src16/init.o
GGchem/src16/nasa_polynomial.o
GGchem/src16/init_chemistry.o
GGchem/src16/init_dustchem.o
GGchem/src16/ggchem.o
GGchem/src16/gauss16.o
GGchem/src16/gauss8.o
GGchem/src16/gauss_nm.o
GGchem/src16/massfrac.o
GGchem/src16/linpack_q.o
GGchem/src16/slatec_routines.o
GGchem/src16/smchem8.o
GGchem/src16/smchem16.o
GGchem/src16/supersat.o
GGchem/src16/stindex.o
GGchem/src16/upper.o
GGchem/src16/nucleation.o
GGchem/src16/auto_structure.o
GGchem/src16/main.o
GGchem/src16/ggchem16
GGchem/structures
GGchem/structures/EarthHighResFit.dat
GGchem/structures/Jup-T-p.dat
GGchem/structures/VenusHighResFit.dat
GGchem/structures/jup_t100_g25_Helling.dat
GGchem/structures/lte_1200_3.0-0.0_cutforpegas
GGchem/structures/lte_1500_3.0-0.0_cutforpegas
GGchem/structures/sat_t78_g11_Helling.dat
GGchem/structures/tp_w18.txt
GGchem/structures/weather.dat
GGchem/tools
GGchem/tools/Plot_CzuO.py
GGchem/tools/Plot_T.py
GGchem/tools/Plot_benchmark1.py
GGchem/tools/Plot_benchmark2.py
GGchem/tools/Plot_fast.py
GGchem/tools/Plot_logT.py
GGchem/tools/Plot_logp.py
GGchem/tools/Plot_paper.py
GGchem/tools/Plot_phase.py
GGchem/tools/Plot_seq.py
GGchem/tools/Plot_structure.py
GGchem/tools/Plot_tea.py
GGchem/tools/Plot_triangle.py
GGchem/tools/analyse_fort99.py
GGchem/tools/kp_compare.py
GGchem/tools/lapse_rate.py
#GGchem/tools/make_abund.py
GGchem/tools/phasedia.pro
GGchem/tools/phasedia2.pro
GGchem/tools/phasedia3.pro
