abund_SharpHuebner.dat
abund_simple.in
abund_Ca*
abund_O*
abund_Venus_copy.in
data
database.dat
demo_eqchem.pdf
demo_eqcond.pdf
fatal.case
fort.60
fort.97
ggchem
GGchemPaper.pdf
GGCHEM_talk.pdf
Last_abund.in
LICENSE
mfrac_BSE_15water.dat
mfrac_BSE_8water.dat
mfrac_CIcond.dat
mfrac_melis_BSE.dat
mfrac_melis_CI.dat
mfrac_MORB.dat
mfrac_schaefer_BSE.dat
mfrac_schaefer_CC.dat
README.md
results
Static_Conc.dat
Static_Conc_2D.dat
Structure.dat
src16